.container{
  display: flex;
  justify-content: center;
}
.card{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(137, 137, 137);
  color: white;
  box-shadow: 3px 3px 10px 0px rgb(147, 146, 146);
}

